[Unit]
Description=Lightweight Kubernetes - K3s Node
Documentation=https://k3s.io
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/bin/k3s agent --docker --server https://{{ master_ip }}:6443 --token {{ hostvars[groups['master'][0]]['token'] }}
KillMode=process
Delegate=yes
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
